.header {
  display: flex;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  color: #fff;
  height: 4em;
}
.header > a {
  flex: 0.15;
  display: grid;
  place-items: center;
}
.header__logo {
  object-fit: contain;
  height: 3.5em;
}
.header__search {
  display: flex;
  align-items: center;
  flex: 0.55;
}
.header__search > input {
  flex: 1;
  padding: 0.4em;
  border-radius: 4px 0 0 4px;
  border: none;
}
.header__searchIcon {
  background-color: #febd69;
  font-size: 2.3rem;
  padding: 0.1em;
  cursor: pointer;
  color: #373533;
  border-radius: 0 4px 4px 0;
  width: 1.2em;
}
.header__searchIcon:hover,
.header__searchIcon:focus {
  background-color: #f3a847;
}

.header__nav {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__nav > a {
  text-decoration: none !important;
}
.header__option {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  transition: all 0.25s ease-in-out;
}

.header__optionLineOne {
  font-weight: normal;
  font-size: 0.8rem;
}
.header__optionLineTwo {
  font-weight: bold;
  font-size: 1.05rem;
}
.header__optionBasket {
  display: flex;
  transition: all 0.25s ease-in-out;
  align-items: center;
}
.header__option:hover,
.header__optionBasket:hover {
  color: #febd69;
}
.header__basketIcon {
  font-size: 1.5rem;
}
.header__basketCount {
  margin: 0 2em 0 0.5em;
  color: #f3a847;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header > a {
    flex: 0.12;
  }
  .header__search {
    flex: 0.48;
  }
  .header__nav {
    flex: 0.4;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .header > a {
    flex: 0.14;
  }
  .header__search {
    flex: 0.43;
  }
  .header__nav {
    flex: 0.43;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .header > a {
    flex: 0.14;
  }
  .header__search {
    flex: 0.43;
  }
  .header__nav {
    flex: 0.43;
  }
}
@media screen and (min-width: 450px) and (max-width: 600px) {
  .header__searchIcon {
    width: 0.9em;
  }
  .header > a {
    flex: 0.15;
  }
  .header__search {
    flex: 0.3;
  }
  .header__nav {
    flex: 0.55;
  }
  .header__search > input {
    width: 4.5em;
  }
}
@media screen and (min-width: 0px) and (max-width: 450px) {
  .header__searchIcon {
    width: 0.9em;
  }
  .header > a {
    flex: 0.15;
  }
  .header__search {
    flex: 0.2;
  }
  .header__nav {
    flex: 0.65;
  }
  .header__search > input {
    width: 5em;
  }
}
