.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  height: 9em;
  padding: 1em;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal__gift > input {
  margin-right: 0.5em;
}
.subtotal__button {
  width: 100%;
  background-color: #f0c14b;
  border-radius: 3px;
  height: 2em;
  cursor: pointer;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  letter-spacing: 1px;
}
@media screen and (min-width: 0) and (max-width: 375px) {
  .subtotal__button {
    font-size: 0.8rem;
  }
}
